<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI College Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<!-- Navbar -->
<nav>
    <div class="logo">
        🎓 AI College
    </div>

    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/students">Students</a></li>
    <li><a href="/faculty">Faculty</a></li>
    <li><a href="/attendance">Attendance</a></li>
    <li><a href="/prediction">AI Prediction</a></li>
</ul>
</nav>


<!-- Hero Section -->

<section class="hero">

    <div class="hero-text">

        <h1>
            Smart AI College 
            <span>Management System</span>
        </h1>

        <p>
            An intelligent platform to manage students,
            attendance, faculty and academic performance
            using Artificial Intelligence.
        </p>


       <a href="{{ url_for('dashboard') }}" class="btn">
    Explore Dashboard
</a>

    </div>


    <div class="hero-card">

        <h2>AI Powered Features</h2>

        <p>🤖 Student Performance Prediction</p>
        <p>📊 Smart Attendance Tracking</p>
        <p>👨‍🎓 Student Management</p>
        <p>📚 Digital Campus System</p>

    </div>

</section>



<!-- Statistics -->

<section class="stats">

<div>
<h2>1200+</h2>
<p>Students</p>
</div>


<div>
<h2>80+</h2>
<p>Faculty</p>
</div>


<div>
<h2>95%</h2>
<p>Attendance</p>
</div>


<div>
<h2>50+</h2>
<p>Courses</p>
</div>


</section>




<!-- Features -->

<section class="features">

<h1>Our Modules</h1>


<div class="cards">


<div class="card">
<h2>🎓 Student Management</h2>
<p>
Manage student profiles,
marks and academic details.
</p>
</div>



<div class="card">
<h2>📅 Attendance</h2>
<p>
Track attendance and generate
reports automatically.
</p>
</div>



<div class="card">
<h2>🧠 AI Prediction</h2>
<p>
Predict student performance
using Machine Learning.
</p>
</div>



</div>

</section>



<footer>

<p>
© 2026 AI College Management System
</p>

</footer>


</body>
</html>